.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card{
  background: transparent;
      box-shadow: 6px 6px 14px 0 rgba(0, 0, 0, 0.2),
    -8px -8px 18px 0 rgba(255, 255, 255, 0.55);
  border-radius: 40px;
  padding: 4px 30px 20px;
  min-height: 380px;
  background: linear-gradient(135deg, rgba(0,0,0,0.22), rgba(255,255,255,0.25));
  margin-top: 20px;
  height: 500px;  
}

.cardHome{
  background: transparent;
      box-shadow: 6px 6px 14px 0 rgba(0, 0, 0, 0.2),
    -8px -8px 18px rgba(0, 0, 0, 0.2);
  border-radius: 40px;
  padding: 4px 30px 20px;
  min-height: 380px;
  background: linear-gradient(135deg, rgba(0,0,0,0.22), rgba(192, 60, 60, 0.25));
  margin-top: 70px;
  height: 700px;  
}